<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student profile</title>
  </head>
  <body>
    <h1>Student profile</h1>
    <p>Numer albumu: <%= student.code %></p>
    <p>Imię: <%= student.firstName %></p>
    <p>Nazwisko: <%= student.lastName %></p>
    <p>Płeć: <%= student.gender %></p>
    <p>Wiek: <%= student.age %></p>
    <p>Kierunek: <%= student.studyField %></p>
  </body>
</html>
