<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formularz</title>
  </head>
  <body>
    <h2>Formularz rejestracyjny</h2>
    <form action="/submit" method="post">
      <label for="firstName">Imię:</label><br />
      <input type="text" id="firstName" name="firstName" /><br /><br />

      <label for="lastName">Nazwisko:</label><br />
      <input type="text" id="lastName" name="lastName" /><br /><br />

      <label for="age">Wiek:</label><br />
      <input type="number" id="age" name="age" /><br /><br />

      <label for="gender">Płeć:</label><br />
      <select id="gender" name="gender">
        <option value="male">Mężczyzna</option>
        <option value="female">Kobieta</option>
        <option value="other">Inna</option></select
      ><br /><br />

      <label for="code">Numer albumu:</label><br />
      <input type="number" id="code" name="code" /><br /><br />

      <label for="studyField">Kierunek:</label><br />
      <input type="text" id="studyField" name="studyField" /><br /><br />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
